body{
  background:#06402B;
}
.container{
  background-color: rgba(146, 161, 212, 0.33);
  width:400px;
  padding:25px 35px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:10px;
}
input{
  background:linear-gradient(135deg,#00feba,#5b548a);
  width:100%;
  height:40px;
  border: 1px solid #494eea;
  outline:0;
  padding:3px;
  margin:10px 0 20px;
  border-radius:5px;
}
.container p{
  font-weight:600;
  font-size:20px;
  margin-bottom:8px;
}
.container button{
   background: linear-gradient(
    45deg,
    rgba(15, 25, 110, 1) 36%,
    rgba(7, 173, 179, 1) 70%
  );
  background-blend-mode: normal;
  font-style:bold;
  font-size:20px;
  width:100%;
  height:50px;
  color:black;
  border:0;
  outline:0;
  border-radius:5px;
  box-shadow:0 10px 10px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  margin:7px; 0;
  padding:3px;
  font-weight:500;
}
#imgbox{
  width:200px;
  border-radius:5px;
  max-height:0;
  over-flow:hidden;
  transition:max-height 2s;
}
#imgbox img{
  width:100%;
}
#imgbox.show-img{
  max-height:300px;
  margin:10px auto;
  border:1px solid #d1d1d1;
}
.error{
  animation: shake 0.1s linear 100;
}
@keyframes shake{
  0%{
    transform: translate(0);
  }
  25%{
    transform: translate(-4px);
  }
  50%{
    transform: translate(0);
  }
  75%{
    transform: translate(4px);
  }
  100%{
    transform: translate(0);
  }
}